SLASH = /
FLORSHOP_CORE_BASE_URL = https:$(SLASH)$(SLASH)corecert.mrangel.dev
FLORSHOP_AUTH_BASE_URL = https:$(SLASH)$(SLASH)authcert.mrangel.dev
FLORSHOP_IMAGES_BASE_URL = https:$(SLASH)$(SLASH)imagescert.mrangel.dev
FLORSHOP_SYNC_WS = https:$(SLASH)$(SLASH)synccert.mrangel.dev$(SLASH)sync

BUNDLE_ID_SUFFIX = .cert
DEEP_LINK_SCHEME = florshop.cert

//Configuracion de Xcode
PRODUCT_BUNDLE_IDENTIFIER = MrProFox.FlorShop$(BUNDLE_ID_SUFFIX)
