SLASH = /
FLORSHOP_CORE_BASE_URL = http:$(SLASH)$(SLASH)192.168.2.5:8080
FLORSHOP_AUTH_BASE_URL = http:$(SLASH)$(SLASH)192.168.2.5:8081
FLORSHOP_IMAGES_BASE_URL = http:$(SLASH)$(SLASH)192.168.2.5:8082
FLORSHOP_SYNC_WS = http:$(SLASH)$(SLASH)192.168.2.7:8083

BUNDLE_ID_SUFFIX = .dev
DEEP_LINK_SCHEME = florshop.dev

//Configuracion de Xcode
PRODUCT_BUNDLE_IDENTIFIER = MrProFox.FlorShop$(BUNDLE_ID_SUFFIX)
